.header {
  height: 32vw;
  margin: 30px auto;
  background-image: url("/header_img.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1vw;
  max-width: clamp(40%, 50%, 60%);
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-content h2 {
  font-weight: 500;
  color: #fff;
  font-size: max(4.5vw, 25px);
}

.header-content p {
  font-size: clamp(12px, 1vw, 18px);
  color: #fff;
}

.header-content button {
  background-color: #fff;
  color: #6c62a6;
  border: none;
  padding: clamp(8px, 1vw, 16px) clamp(15px, 2.3vw, 30px);
  font-weight: 500;
  font-size: max(1vw, 12px);
  cursor: pointer;
  border-radius: 50px;
}

@media (max-width: 1050px) {
  .header-content {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-content {
    max-width: 55%;
  }
  .header-content p {
    font-size: 0.8vw; /* Reduce size before hiding */
  }
  @media (max-width: 600px) {
    .header-content p {
      display: none;
    }
  }
  .header-content button {
    padding: 2vw 4vw;
  }
}
